*{
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
}

.header{
    margin-top: 70px;
    margin-left: 290px;
}

.box{
    position: absolute;
    width: 700px;
    height:520px;
    left: 0;
    right: 0;
    margin: 50px auto auto;
    padding:20px 68px 20px 68px;
    border: 1px solid #6dc7ef; 
    background-color: rgba(131, 193, 235, 0.5);
    z-index: 1;
}
                                             
.submit{
    display: block;
    width: 152px;
    height: 56px;
    line-height: 18px;
    border: none;
    border-radius: 0;
    background-color:rgb(85, 168, 242);
    font-size: 20px;
    outline: none;
    text-align: center;
}

.reason{
    text-align: center;
    display: block;
}


#ico{
    display: inline-block;
    height: 210px;
} 

#file{
    width: 0;
    height: 0;
}

input{
    border: none;
    width: 154px;
    height: 44px;
    margin: 13px 5px;
    border-radius: 20px;
    vertical-align: middle;
    outline:none;
    color:#000;
}

select{
    border: none;
    width:100%100%;
    height: 44px;
    margin: 16px 80px 16px auto;
    border-radius: 20px;
    outline:none;
    color:rgb(20, 17, 17);
}


p{
    display: inline-block;
    width: 22px;
    height: 210px;
    text-align: center;
    font-size: 23.33px;
    
}


body{
    background: url(yuanshi.png) no-repeat 0 0/cover;
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}
